* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

@import "./coinList.scss";

@media (max-width: 750px) {
  thead {
    display: none;
  }
  table {
    img {
      margin-left: 9rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .coin-text {
    font-size: 1.5rem;
  }

  .coin-input::placeholder {
    font-size: 1.2rem;
  }

  .coin-input {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: none;
  }

  td:last-child {
    margin-bottom: 3rem;
  }

  tbody {
    display: block;
    width: 100%;
  }
  td {
    display: block;
    width: 100%;
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  tr {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 500px) {
  table {
    display: flex;
    justify-content: start;
    margin-right: 3rem;
    img {
      height: 1.5rem;
      width: 1.5rem;
      margin-left: 9rem;
    }
  }
  thead {
    display: none;
  }
  tbody {
    display: block;
    width: 100%;

    // background: red;
  }

  td {
    display: block;
    width: 120%;
    text-align: right;
    padding-left: 50%;
    position: relative;
    font-size: 1rem;
    // margin-bottom: 2rem;

    // font-size: 1rem;
  }

  td:last-child {
    margin-bottom: 3rem;
  }

  // .name-breaking {
  //   margin-top: 4rem;
  // }
  // td:first-child {
  //   margin-top: 3rem;
  // }
  tr {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 2px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
